* {

    font-family: 'Roboto', sans-serif;
    color: #96DDFF;
}

body {
    background-color: #343A40;
}

body, html {
    height: 100%;
    margin: 0;
}


#header {
    border-bottom: #96DDFF solid thick;
}

#lyrics-div {
    height: 400px;
    width: 100%;
    border: solid thick  #96DDFF;
    overflow: auto;
}

.navbarBackground {
    background-color: #96DDFF;
}

#front-page {
    padding-bottom: 50%;
}

.navbar-header {
    margin: 0;
    margin-top: -33px;
    border-bottom:  solid thick  #96DDFF;
}

.songHeader,
.songData,
.albumHeader,
.albumData {
    width: 50%;
}

.songHeader,
.albumHeader,
.artistHeader {
    background-color: #96DDFF;
    color: #343A40;
}

#musicVideoContainer {
  text-align: center;
  margin-bottom: 10%;
}

#musicButtons {
    padding: 0 25%;
    background-color: #343A40; 
}

.footer {
    /* position: absolute; */
    z-index: 99;
    background-color: #96DDFF;
    color: #343A40;
}

.transition {
    background-color: #96DDFF;
    height: 100vh;
    margin-right: 1em;
    z-index: 2;
}

section {
    display: grid;
    grid-template-columns: repeat(10,auto);

}