* {
    font-family: 'Roboto', sans-serif;
}

.body, html {
    height: 100%;
    margin: 0;
}

#header {
    border-bottom: #007BFF solid thick;
}

#lyrics-div {
    height: 400px;
    width: 100%;
    border: #007BFF solid thick;
    overflow: auto;
}

.navbar-header {
    margin: 0;
    margin-top: -33px;
    border-bottom: #007BFF solid thick;
}

