* {

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8d8d8def;
}

body, html {
    height: 100%;
    margin: 0;
}

#header {
    border-bottom: #007BFF solid thick;
}

#lyrics-div {
    height: 400px;
    width: 100%;
    border: #007BFF solid thick;
    overflow: auto;
}

#front-page {
    padding-bottom: 50%;
}

.navbar-header {
    margin: 0;
    margin-top: -33px;
    border-bottom: #007BFF solid thick;
}

.songHeader,
.songData,
.albumHeader,
.albumData {
    width: 50%;
}

#musicVideoContainer {
  text-align: center;
  margin-bottom: 10%;
}

#musicButtons {
    padding: 0 25%;
}

.footer {
    /* position: absolute; */
    z-index: 99;
    background-color: lightskyblue;
}